@model IEnumerable<MyTodo.Models.Todo>
@{
    ViewBag.Title = "Index";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>

<script type="text/javascript">
    $(document).ready(function () {
        $(".todo_completed").click(function () {
            if ($(this).next().css('text-decoration').match(/line-through*/)) {
                $(this).next().css('text-decoration', 'none');
                $(this).next().css('color', '#333');
            }
            else {
                $(this).next().css('text-decoration', 'line-through');
                $(this).next().css('color', '#AAA');
            }
        });

        $(".message_outer").dblclick(function () {
            $(this).closest('div').siblings('.message_outer_editor').css('display', 'block');
            $(this).css('display', 'none');           
        })
    })

</script>
<div id="todo_title">
    My Todos
</div>
<div id="todo_outer">
    <div id="todo_pane_top"></div>
    <div id="new_item">
        @using (Html.BeginForm("New", "Todos", FormMethod.Post)) {
            @Html.AntiForgeryToken()


            <input placeholder="What needs doing?" type="text" name="message">
            <div id="add_new_button" onclick="$(this).closest('form').submit();"></div>
        }
    </div>
    @{
        var count = 0;
    }
    @foreach (var item in Model) {
            <div class="todo_list_item">
                @{
                    var className="todo_message";
                    if (item.Completed == true) {
                        className = "todo_message_strike";
                    }
                }
                    <div>
                        @using (Html.BeginForm("Completed", "Todos", new { item.ID }, FormMethod.Post, new { name = "complete" + item.ID })) {
                            @Html.AntiForgeryToken()

                            
                            <div class="todo_completed" onclick="$(this).closest('form').submit();"></div>
                        }
                    </div>
                <div class="message">
                    <div class="message_outer">
                        <div class="@className">
                            @Html.DisplayFor(modelItem => item.Message)
                        </div>
                    </div>
                    <div class="message_outer_editor">
                        @using (Ajax.BeginForm("Edit", "Todos", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "message_outer" })) {
                            @Html.AntiForgeryToken()
                            string message = item.Message;
                            System.Diagnostics.Debug.Write("Message: " + message);
                            @Html.TextBoxFor(modelItem => item.ID, new { @Value = item.ID, @Name = "id", @Type = "hidden" })
                            <div class="message_editor">
                                @Html.TextBoxFor(modelItem => item.Message, new { @Value = message, @Name = "message" })
                            </div>
                        }
                        
                    </div>
                </div>
                @using (Html.BeginForm("Delete", "Todos", new { item.ID }, FormMethod.Post)) {
                    @Html.AntiForgeryToken()
                    <div class="todo_delete" onclick="$(this).closest('form').submit();"></div>
                }
            </div>
        }
</div>
