@model IEnumerable<MyTodo.Models.Todo>
@{
    ViewBag.Title = "Index";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>

<script type="text/javascript">
    $(document).ready(function () {
        $(".todo_completed").click(function () {
            if ($(this).next().css('text-decoration').match(/line-through*/)) {
                $(this).next().css('text-decoration', 'none');
                $(this).next().css('color', '#333');
            }
            else {
                $(this).next().css('text-decoration', 'line-through');
                $(this).next().css('color', '#AAA');
            }
        });
    })

</script>
<div id="todo_title">
    My Todos
</div>
<div id="todo_outer">
    <div id="todo_pane_top"></div>

    @foreach (var item in Model) {
            <div class="todo_list_item">
                @{
                    var className="todo_message";
                    if (item.Completed == true) {
                        className = "todo_message_strike";
                    }
                }
                    <div>
                        @using (Html.BeginForm("Completed", "Todos", new { item.ID }, FormMethod.Post, new { name = "complete" + item.ID })) {
                            @Html.AntiForgeryToken()

                            
                            <div class="todo_completed" onclick="$(this).closest('form').submit();"></div>
                        }
                    </div>
                    <div class="@className">
                        @Html.DisplayFor(modelItem => item.Message)
                    </div>
                @using (Html.BeginForm("Delete", "Todos", new { item.ID }, FormMethod.Post)) {
                    @Html.AntiForgeryToken()
                    <div class="todo_delete" onclick="$(this).closest('form').submit();"></div>
                }
            </div>
        
    }
</div>
