@model IEnumerable<MyTodo.Models.Todo>
@{
    ViewBag.Title = "Index";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".todo_completed").click(function () {
            $(this).parent().nextAll('.message').children(':first').children(':first').toggleClass('todo_message todo_message_strike');
            $(this).closest('form').submit();
        });

        $(".message_outer").dblclick(function () {
            $(this).closest('div').siblings('.message_outer_editor').css('display', 'block');
            $(this).css('display', 'none');           
        })

        $(".message_editor :input").keypress(function (e) {
            if (e.which === 13) {
                $(this).closest('div').parent().parent().siblings('.message_outer').css('display', 'block');
                $(this).parent().closest('div').css('display', 'none');
            }
        });

        $(".todo_delete").click(function () {
            $(this).closest('.todo_list_item').animate({ height: "0px", padding: "0px" }, 150, function() {
                $(this).closest('.todo_list_item').css('display', 'none');
            });
            $(this).closest('form').submit();
        })
    })

</script>
<div id="todo_title">
    My Todos
</div>
<div id="todo_outer">
    <div id="todo_pane_top"></div>
    <div id="new_item">
        @using (Html.BeginForm("New", "Todos", FormMethod.Post)) {
            @Html.AntiForgeryToken()


            <input placeholder="What needs doing?" type="text" name="message">
            <div id="add_new_button" onclick="$(this).closest('form').submit();"></div>
        }
    </div>
    @{
        var count = 0;
    }
    @foreach (var item in Model) {
            <div class="todo_list_item">
                @{
                    var className="todo_message";
                    var id = item.ID;
                    if (item.Completed == true) {
                        className = "todo_message_strike";
                    }
                }
                        @using (Ajax.BeginForm("Completed", new AjaxOptions { HttpMethod = "POST" })) {
                            @Html.AntiForgeryToken()

                            @Html.TextBoxFor(modelItem => item.ID, new { @Value = item.ID, @Name = "id", @Type = "hidden" })
                            <div class="todo_completed"></div>
                        }
                <div class="message">
                    <div class="message_outer">
                        <div class="@className" id="@id">
                            @Html.DisplayFor(modelItem => item.Message)
                        </div>
                    </div>
                    <div class="message_outer_editor">
                        @using (Ajax.BeginForm("Edit", "Todos", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "" + item.ID })) {
                            @Html.AntiForgeryToken()
                            string message = item.Message;
                            System.Diagnostics.Debug.Write("Message: " + message);
                            @Html.TextBoxFor(modelItem => item.ID, new { @Value = item.ID, @Name = "id", @Type = "hidden" })
                            <div class="message_editor">
                                @Html.TextBoxFor(modelItem => item.Message, new { @Value = message, @Name = "message" })
                            </div>
                        }
                        
                    </div>
                </div>
                @using (Ajax.BeginForm("Delete", new AjaxOptions { HttpMethod = "POST" })) {
                    @Html.AntiForgeryToken()
                    @Html.TextBoxFor(modelItem => item.ID, new { @Value = item.ID, @Name = "id", @Type = "hidden" })
                    <div class="todo_delete"></div>
                }
            </div>
        }
</div>
